@use 'sass:map';

@use 'mixins/mixins' as *;
@use 'mixins/var' as *;
@use 'common/var' as *;

// @include b(table) {
//   @include set-component-css-var('table', $table);
// }

@include b(table) {
  .hidden-columns {
    visibility: hidden;
    position: absolute;
    z-index: -1;
  }

  @include e(row) {
    padding: 8px 0;
    min-width: 0;
    box-sizing: border-box;
    text-overflow: ellipsis;
    vertical-align: middle;
    position: relative;
    text-align: left;
    z-index: 1;
  }

  tr {
    background-color: var(--el-table-tr-bg-color);

    input[type='checkbox'] {
      margin: 0;
    }
  }
}
