/** Base Styles */
:root {
  --c-text-light-1: #2c3e50;
  --c-text-light-2: #476582;
  --c-text-light-3: #90a4b7;
}

/** Fallback Styles */
:root {
  --code-line-height: 24px;
  --code-font-family: v-mono, SFMono-Regular, Menlo, Consolas, Courier,
    monospace;
  --code-font-size: 14px;
  --code-inline-bg-color: rgba(27, 31, 35, 0.05);
  --code-bg-color: #282c34;
}
