@import './mixins/mixins.scss';
@import './common/var.scss';

// avatar-size
$--avatar-size-small: 24px;
$--avatar-size-medium: 32px;
$--avatar-size-large: 40px;

@include b(avatar) {
  display: inline-block;
  width: $--avatar-size-medium;
  height: $--avatar-size-medium;
  line-height: $--avatar-size-medium;
  border-radius: $--border-radius-small;
  text-align: center;
  overflow: hidden;

  img {
    width: 100%;
    height: 100%;
  }

  @include e(small) {
    width: $--avatar-size-small;
    height: $--avatar-size-small;
    line-height: $--avatar-size-small;
  }
  @include e(large) {
    width: $--avatar-size-large;
    height: $--avatar-size-large;
    line-height: $--avatar-size-large;
  }

  @include e(circle) {
    border-radius: $--border-radius-circle;
  }

  @include e(text) {
    padding: 0 4px;
  }
}
