@use 'mixins/mixins' as *;
@use 'common/var.scss' as *;

@include b(badge) {
  display: inline-block;
  position: relative;

  @include e(content) {
    position: absolute;
    top: 0;
    right: 0;
    transform: translate(50%, -50%);
    z-index: 1;

    font-size: getCssVar('font-size', 'sm');
    height: 20px;
    min-width: 20px;
    line-height: 20px;
    text-align: center;
    padding: 0 getCssVar('padding', 'xxs');
    color: getCssVar('text-color', 'inverse');

    border-radius: 10px;

    @each $type in (primary, success, warning, info, error) {
      @include m($type) {
        background-color: getCssVar('color', $type);
      }
    }
  }

  @include when(not-wrapper) {
    @include e(content) {
      position: static;
      display: inline-block;
    }
  }
}
