@use 'sass:map';

@use 'common/var' as *;
@use 'mixins/mixins' as *;
@use 'mixins/var' as *;
@use './mixins/function' as *;

@include b(button) {
  @include set-component-css-var('button', $button);
}

@include b(button) {
  font-size: 14px;
  line-height: 1.5715;

  // box
  padding: 6px 16px;

  background-color: getCssVar('color-white');
  border-style: solid;
  border-width: 1px;
  border-color: getCssVar('button', 'border-color');
  border-radius: getCssVar('border-radius', 'base');

  &:hover {
    background-color: getCssVar('button', 'hover', 'bg-color');
  }

  &:active {
    color: getCssVar('button', 'active', 'text-color');
    border-color: getCssVar('button', 'active', 'border-color');
    background-color: getCssVar('button', 'active', 'bg-color');
    outline: none;
  }

  // @include button-size(
  //   map.get($button-padding-vertical, $button)
  // )
}
