@use 'sass:map';

@use 'common/var' as *;
@use 'mixins/mixins' as *;
@use 'mixins/var' as *;
@use './mixins/function' as *;

@include b(button) {
  @include set-component-css-var('button', $button);
}

@include b(button) {
  font-size: 14px;
  line-height: 1.5715;

  background-color: getCssVar('color-white');
  border-style: solid;
  border-width: 1px;
  border-color: getCssVar('button', 'border-color');
  border-radius: getCssVar('border-radius', 'base');

  &:hover {
    background-color: getCssVar('button', 'hover', 'bg-color');
  }

   
}
