@use './mixins/mixins.scss' as *;
@use './common/var.scss' as *;

@include b(divider) {
  position: relative;

  @include m(horizontal) {
    margin: getCssVar('margin', 'md') 0;
    border-top: 1px getCssVar('border-style') getCssVar('border-color');
  }

  @include m(vertical) {
    display: inline-block;
    vertical-align: middle;
    height: 1em;
    border-left: 1px getCssVar('border-style') getCssVar('border-color', '');
    margin: 0 getCssVar('margin', 'xs');
  }

  @include e(text) {
    position: absolute;
    z-index: 1;
    top: 50%;
    line-height: 1;
    background-color: getCssVar('color', 'white');
    padding: 0 getCssVar('padding', 'md');
    transform: translate(0, -50%);

    @include when(left) {
      left: 20px;
    }

    @include when(center) {
      left: 50%;
      transform: translate(-50%, -50%);
    }

    @include when(right) {
      right: 20px;
    }
  }
}
