@import './mixins/mixins.scss';

@include b(message) {
  position: fixed;
  z-index: 0;
  left: 50%;
  transform: rotateX(50%);
  padding: 8px 16px;
  border-radius: 4px;
  box-shadow: 0 4px 12px rgb(0 0 0 / 15%);
}
