@import 'mixins/mixins';
@import 'common/var.scss';

@include b(progress) {
  display: flex;
  align-items: center;

  @include e(icon) {
    svg {
      width: 12px;
      height: 12px;
    }
  }

  @include e(text) {
    line-height: 1;
    margin-left: getCssVar('margin', 'xs');
  }
}

@include b(progress-bar) {
  flex-grow: 1;

  @include e(outer) {
    height: 8px;
    background-color: #0000000a;
    border-radius: 100px;
  }

  @include e(inner) {
    height: 8px;
    border-radius: 100px;
    background-color: getCssVar('color', 'primary');
  }
}

@keyframes progress-active {
  0% {
    transform: translateX(-100%) scaleX(0);
    opacity: 0.1;
  }
  20% {
    transform: translateX(-100%) scaleX(0);
    opacity: 0.5;
  }
  100% {
    transform: translateX(0) scaleX(1);
    opacity: 0;
  }
}
