@import 'mixins/mixins';
@import 'common/var.scss';

@include b(progress) {
  display: flex;
  align-items: center;
  position: relative;

  @include e(icon) {
    display: inline-block;
    svg {
      width: 14px;
      height: 14px;
    }
  }

  @include e(text) {
    line-height: 1;
    margin-left: getCssVar('margin', 'xs');
    min-width: 50px;
    text-align: left;
  }

  @include m(circle) {
    display: inline-block;

    .#{$namespace}-progress__text {
      position: absolute;
      top: 50%;
      left: 50%;
      width: 100%;
      margin: 0;
      text-align: center;
      transform: translate(-50%, -50%);
    }
  }

  @include when(success) {
    .#{$namespace}-progress-bar__inner {
      background-color: getCssVar('color', 'success');
    }
    .#{$namespace}-progress__text {
      color: getCssVar('color-success');
    }
  }

  @include when(exception) {
    .#{$namespace}-progress-bar__inner {
      background-color: getCssVar('color', 'error');
    }
    .#{$namespace}-progress__text {
      color: getCssVar('color-error');
    }
  }
}

@include b(progress-bar) {
  flex-grow: 1;
  vertical-align: middle;

  @include e(outer) {
    height: inherit;
    background-color: #0000000a;
    border-radius: 100px;
    position: relative;
    vertical-align: middle;
    overflow: hidden;
  }

  @include e(inner) {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    background-color: getCssVar('color', 'primary');
    text-align: right;
    border-radius: 100px;
    line-height: 1;
    white-space: nowrap;
    transition: width 0.6s ease;
  }

  @include e(innerText) {
    display: inline-block;
    font-size: getCssVar('font-size', 'sm');
    line-height: 1;
    padding: 0 getCssVar('padding', 'xs');
    color: getCssVar('color', 'white');
    white-space: nowrap;
  }
}

@include b(progress-circle) {
  width: 126px;
  height: 126px;
}

@keyframes progress-active {
  0% {
    transform: translateX(-100%) scaleX(0);
    opacity: 0.1;
  }
  20% {
    transform: translateX(-100%) scaleX(0);
    opacity: 0.5;
  }
  100% {
    transform: translateX(0) scaleX(1);
    opacity: 0;
  }
}
