@import './mixins/mixins.scss';

@include b(upload) {
  display: inline-block;

  @include e(input) {
    display: none;
  }
}

@include b(upload-list) {
  list-style: none;
  padding-left: 0;

  @include e(item) {
    display: flex;
  }

  @include e(name) {
    flex: auto;
    margin: 0 8px;
    :hover {
      background: #eee;
    }
  }

  @include e(actions) {
    display: flex;
    align-items: center;
  }
}
