@import './mixins/mixins.scss';

@include b(space) {
  display: flex;
  flex-direction: row;
  align-items: center;

  @include e(item) {
    margin-right: 8px;
  }

  @include e(vertical) {
    flex-direction: column;
  }
}
